<div class="d-flex justify-content-evenly">
    <div class="list-group-item">
      <input type="checkbox" class="me-2" />Go to school tomorrow
    </div>
    <div>
      <small class="text-muted">19th, January</small>
    </div>
    <div>
      <button class="btn btn-sm btn-primary">Edit</button>
      <button class="btn btn-sm btn-danger">Delete</button>
    </div>
  </div>